@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 url(assets/background.jpg) center;
  background-size: cover;
  font-family: 'Reenie Beanie', cursive;
}

