@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 url(assets/background.jpg) center;
  background-size: cover;
  font-family: 'Reenie Beanie', cursive;
}
.wrapper {
  width: 40%;
  height: 80%;
  display: flex;
  position: fixed;
  right: 5%;
}

video {
  opacity: .9;
  height: 100%;
  width: 85%;
  outline: none;
}

.speed {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  height: 95%;
  width: 20%;
}

.speed-bar {
  width: 100%;
  height: 100%;
  background: #65656594;
  background-size: cover;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}


